* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  text-transform: capitalize;
}

/* ============  header section =========== */ 
header{
  background-color: #313131;
  border-bottom: #2aa845 1px solid;
  padding: 1rem 0;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container{
  width:100%;
  max-width: 1200px;
  margin: auto;
}


header nav {
  display: flex;
}

header nav ul {
  display: flex;
  list-style-type: none;
}
header nav ul li a {
  padding-left: 1rem;
  color: #fff;
  text-decoration: none;
}


.btn-blej:hover,
.btn-hyr:hover{
  background-color: transparent;
  border: 1px solid #2aa845;
  color: #6cc349;
  cursor: pointer;


}
.btn-blej, 
.btn-hyr{
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: transparent;
}
.btn-blej{
  color: #313131;
  background-color: #2aa845;
}
.btn-hyr{
  border: 1px solid #2aa845;
  color: whitesmoke;

}
/* ========== end of header section ========== */



/* ============ section of  background wrapper i homepage ========== */



.background-wrapper {
  padding: 2rem 4rem 0 4rem;
  background-color: #313131;
}


/*  =========== end of section of wrapper i homepage  =============*/




/* =========== starting section of homepage =========== */

.homepage .first-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.homepage .first-item .first-item-left-box,
.homepage .first-item .first-item-right-box{
  width: 50%;
  color: white;
}

.homepage .first-item img {
  width: 30%;
  height: auto;
}

.btn-shkarko,
.btn-shiko-lajmet {
  padding: 0.5rem;
  background: transparent;
  border: none;
  border-radius: 4px;
}

.btn-shkarko:hover,
.btn-shiko-lajmet:hover{
  background-color: transparent;
  border: 1px solid #2aa845;
  color: #6cc349;
  cursor: pointer;


}


.btn-shkarko{
  color: #313131;
  background-color: #2aa845;
}
.btn-shiko-lajmet{
  color: whitesmoke;
  border: 1px solid #2aa845;

}