* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ============  header section =========== */ 
header{
  background-color: #313131;
  border-bottom: #6cc349 1px solid;
  padding: 1rem 0;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container{
  width:100%;
  max-width: 1200px;
  margin: auto;
}


header nav {
  display: flex;
}

header nav ul {
  display: flex;
  list-style-type: none;
}
header nav ul li a {
  padding-left: 1rem;
  color: #fff;
  text-decoration: none;
}
/* ========== end of header section ========== */



/*  section of wrapper i homepage */
.main-wrapper {
  padding: 2rem 4rem 0 4rem;
  background-color: #313131;
}





.homepage .box-main {
  width: 100%;
  display: flex;
  align-items: center;
  height: 40vh;
  background-color: black;

}

.homepage .box-main .left-box,
.homepage .box-main .right-box{
  width: 50%;
  color: white;
}

.homepage .box-main img {
  width: 30%;
  height: auto;
}
